/* Importa a fonte "Copperplate" do arquivo local */
@font-face {
  font-family: "Copperplate";
  src: url("../fonts/Copperplate.otf");
}

/* Importa a fonte "JoseFins" do arquivo local */
@font-face {
  font-family: "JoseFins";
  src: url("../fonts/JosefinSans.ttf");
}

/* Reset de estilos para remover margens e paddings padrão */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Define o estilo do corpo da página */
body {
  height: 100vh;
  background-color: #000000; /* Fundo preto */

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container para efeito de chuva */
.container_rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: transparent;
}

/* Estiliza as nuvens */
.cloud {
  position: absolute;
  width: 250px;
  height: 100px;
  background: url("../images/nuvem.png") center / cover no-repeat;
  filter: drop-shadow(2px 2px 20px #e3eed4);
}

/* Define posições específicas para as nuvens */
.cloud:nth-child(1) {
  top: 2.5%;
  left: 5%;
}

.cloud:nth-child(2) {
  z-index: 3000;
  top: 2.5%;
  left: 24%;
}

.cloud:nth-child(3) {
  z-index: 3000;
  top: 9.5%;
  left: 5%;
}

/* Estiliza as gotas de chuva */
.rain {
  background-color: #e3eed4;
  width: 5px;
  height: 5px;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  box-shadow: inset -25px 10px 0px -10px #8d8b8b;
  z-index: 1000;
  position: absolute;
  top: 90px;

  transform-origin: bottom;
  animation: animate 2s linear infinite;
}

/* Animação da chuva */
@keyframes animate {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
  60% {
    transform: translateY(80vh) scaleY(1);
    opacity: 1;
  }
  80% {
    transform: translateY(80vh) scaleY(0.2);
    opacity: 0.5;
  }
  100% {
    transform: translateY(80vh) scaleY(0.2);
    opacity: 0;
  }
}

/* Container principal do formulário */
.container {
  width: 80%;
  height: 80%;
  background-color: #e3eed4; /* Fundo claro */
  border-radius: 30px;
  box-shadow: 2px -10px 35px #ffffff;

  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;

  overflow: hidden;
}

/* Estiliza a imagem de fundo */
.image_container {
  width: 100%;
  height: 100%;
  background: url("../images/semifinal-do-paulistao.jpg") center / cover
    no-repeat;
  border-radius: 0 30px 30px 0;

  padding-left: 10%;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Adiciona um efeito escuro sobre a imagem */
.image_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Define estilos para o texto dentro da imagem */
.image_container h1,
.image_container p {
  position: relative;
  z-index: 2;
  color: #e3eed4;
}

/* Estiliza os títulos do formulário */
#cadastroForm h1 {
  font-family: "JoseFins";
  font-size: 2em;
  color: #0f2a1d;
}

#cadastroForm p {
  font-family: "Copperplate";
  font-size: 11px;
  font-style: italic;
  color: #0f2a1d;
}

/* Define o estilo dos inputs */
#cadastroForm .input_data input {
  font-family: "Copperplate";
  font-size: 11px;
  border: none;
  border-bottom: 1px solid #0f2a1d;
  color: #0f2a1d;
}

/* Animação dos labels ao preencher os inputs */
#cadastroForm .input_data input:focus + label,
#cadastroForm .input_data input:valid + label {
  top: -10%;
  left: 0;
}

/* Botão de envio */
#cadastroForm .btnArea button {
  font-family: "Copperplate";
  border: 1px solid #0f2a1d;
  background-color: #0f2a1d;
  color: #e3eed4;
  cursor: pointer;
  font-size: 18px;
}

#cadastroForm .btnArea button:hover {
  background-color: transparent;
  border: 1px solid #0f2a1d;
  color: #0f2a1d;
  transition: 0.7s;
}

/* Responsividade para telas menores */
@media (max-width: 830px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    height: 90%;
  }

  .container_rain {
    display: none; /* Remove o efeito de chuva em telas pequenas */
  }
}
